---
title: 'Personal Blog'
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: '#000'
  overlay_filter: '0.5'
  overlay_image: assets/images/home/knowledge.jpg
excerpt: 'Knowledge Is Power. Always Seek Knowledge.'
intro:
  - excerpt: 'Power Is Gained By Sharing Knowledge.'
feature_row:
  - image_path: /assets/images/posts/8-free-seo-tools-by-google/free-seo-tools.png
    alt: 'google seo tools'
    title: '8 Free Must-Use SEO Tools By Google'
    excerpt: 'Here are 8 free SEO tools by Google that everyone must use.'
    url: 'https://truemark.com.np'
    btn_label: "Read More"
    btn_class: 'btn--danger'
---

{% include feature_row id="intro" type="center" %} {% include
custom/recent-posts.html %} {% include feature_row type="left"
%}
