---
title: 'Personal Blog'
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: '#000'
  overlay_filter: '0.5'
  overlay_image: assets/images/home/knowledge.jpg
excerpt: 'Knowledge Is Power. Always Seek Knowledge.'
intro:
  - excerpt: 'Power Is Gained By Sharing Knowledge.'
feature_row:
  - image_path: /assets/images/home/truemark.png
    alt: 'truemark'
    title: 'Developing a software?'
    excerpt: 'With Truemark Technology you will be able to outsource your project without compromising on code quality.'
    url: 'https://www.truemark.dev/'
    btn_label: "Visit Now"
    btn_class: 'btn--danger'
feature_row:
  - excerpt: Testimonials
  - image_path: /assets/images/home/testimonials.png
    alt: 'testimonial'
---

{% include feature_row id="intro" type="center" %} {% include
custom/recent-posts.html %} {% include feature_row type="left"
%}
