---
layout: splash
title: 'Personal Blog'
header:
  overlay_filter: rgba(0, 144, 212, 0.5)
  overlay_image: assets/images/home/knowledge.jpg
  actions:
    - label: 'Explore'
      url: '/year-archive/'
excerpt: 'Knowledge Is Power. Always Seek Knowledge.'
intro:
  - excerpt: <b>Power Is Gained By Sharing Knowledge.</b>
feature_row:
  - image_path: assets/images/posts/ways-to-increase-productivity-while-working-from-home/working-from-home.jpg
    image_caption: 'Remote Working'
    title: 'Ways To Increase Productivity While Working From Home'
    excerpt: 'Here are some effective ways to increase your productivity while working from home'
    url: '/remote-work/wfh-productivity-tips/'
    btn_label: 'Read More'
    btn_class: 'btn--primary align-center'
  - image_path: assets/images/posts/how-to-keep-investors-happy-while-building-a-business/investor.jpg
    image_caption: 'Investor'
    alt: 'investor'
    title: 'How To Keep Investors Happy While Building A Business?'
    excerpt: 'Here are some effective ways to keep your investors happy.'
    url: '/business/how-to-keep-investors-happy/'
    btn_label: 'Read More'
    btn_class: 'btn--primary align-center'
  - image_path:  assets/images/posts/why-every-business-needs-seo/seo.jpg
    image_caption: 'SEO'
    alt: 'SEO'
    title: 'Why Every Business Needs Search Engine Optimization (SEO)?'
    excerpt: 'SEO is very crucial to rank higher in the search engines'
    url: '/seo/why-every-business-needs-seo/'
    btn_label: 'Read More'
    btn_class: 'btn--primary align-center'
  - image_path:  assets/images/posts/how-big-should-your-team-be-before-hiring-a-manager/team.jpg
    image_caption: 'Business'
    alt: 'team size'
    title: 'How Big Should Your Team Be Before Hiring A Manager? '
    excerpt: 'Determine the size of your team before hiring a manager'
    url: '/business/how-big-should-your-team-be-before-hiring-a-manager/'
    btn_label: 'Read More'
    btn_class: 'btn--primary align-center'
  - image_path:  assets/images/posts/8-web-trends-2020/web-trends.jpg
    image_caption: 'Technology'
    alt: '8 web trends 2020'
    title: '8 Popular Web Trends That Will Be Trending In 2020 '
    excerpt: '2020 is already here. So, here are 8 web trends that will be trending in 2020.'
    url: '/technology/8-web-trends-in-2020/'
    btn_label: 'Read More'
    btn_class: 'btn--primary align-center'
  - image_path:  assets/images/posts/how-to-convince-executives-to-outsource/convincing.jpg
    image_caption: 'Business'
    alt: 'business'
    title: 'How To Convince Executives To Outsource Anything? '
    excerpt: 'Some effective ways to convince your executives to outsource anything'
    url: '/business/how-to-convince-executives-to-outsource-anything/'
    btn_label: 'Read More'
    btn_class: 'btn--primary align-center'
  - image_path: /assets/images/posts/free-google-seo-tools/free-seo-tools.png
    image_caption: 'SEO'
    alt: 'google seo tools'
    title: '9 Free Must-Use SEO Tools By Google'
    excerpt: 'Here are 9 free SEO tools by Google that everyone must use.'
    url: '/seo/free-google-seo-tools/'
    btn_label: 'Read More'
    btn_class: 'btn--primary align-center'  
---

{% include feature_row id="intro" type="center" %}

<h3 class="archive__subtitle" style="margin-bottom: 1em;">Featured Blogs</h3>
{% include feature_row %}

<h3 class="archive__subtitle">Recent Posts</h3>
<div class="grid__wrapper home-archive" style="margin-top: 1em;">
  {% for post in site.posts limit:3 %} {% include archive-single.html
   %} {% endfor %}
  <a href="/year-archive" class="btn btn--primary">View All Blogs</a>
</div>

<!-- <h3 class="archive__subtitle">Books I Recommend</h3>
{% include feature_row id="amazon_books" %} -->
